<md-dialog aria-label="projectForm">
  <form ng-cloak>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Add/Edit project</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon md-svg-src="assets/icons/close.svg" aria-label="Close dialog"></md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content layout="column" layout-padding>
      <div layout="" layout-align="space-around center" layout-padding style="padding: 20px 0 0 0">
        <md-input-container>
          <label>Name</label>
          <input required ng-model="project.name">
        </md-input-container>

        <md-input-container>
          <label>Code</label>
          <input required ng-model="project.code">
        </md-input-container>
      </div>
      <div layout="" layout-padding layout-align="space-around center">
        <md-autocomplete required md-no-cache="false" md-selected-item="project.manager" md-search-text="searchTextEmployee" md-items="item in autocompleteSearch(searchTextEmployee, employeeList)"
          md-item-text="item.fullname" md-min-length="0" md-floating-label="Manager" md-clear-button="true">
          <md-item-template>
            <span md-highlight-text="searchTextEmployee" md-highlight-flags="^i">{{item.fullname}}</span>
          </md-item-template>
        </md-autocomplete>

        <md-autocomplete required md-no-cache="false" md-selected-item="project.client" md-search-text="searchTextClient" md-items="item in autocompleteSearch(searchTextClient, clientList)"
          md-item-text="item.name" md-min-length="0" md-floating-label="Client" md-clear-button="true">
          <md-item-template>
            <span md-highlight-text="searchTextClient" md-highlight-flags="^i">{{item.name}}</span>
          </md-item-template>
        </md-autocomplete>

        <md-autocomplete required md-no-cache="false" md-selected-item="project.type" md-search-text="searchTextType" md-items="item in autocompleteSearch(searchTextType, typeList)"
          md-item-text="item.name" md-min-length="0" md-floating-label="Project Type" md-clear-button="true">
          <md-item-template>
            <span md-highlight-text="searchTextType" md-highlight-flags="^i">{{item.name}}</span>
          </md-item-template>
        </md-autocomplete>
      </div>

      <md-input-container>
        <label>Status</label>
        <md-select required ng-model="project.finished">
          <md-option value="true">Finished</md-option>
          <md-option value="false">Not Finished</md-option>
        </md-select>
      </md-input-container>

      <md-input-container class="md-block">
        <label>Description</label>
        <textarea ng-model="project.description" md-maxlength="150" rows="1" md-select-on-focus></textarea>
      </md-input-container>
    </md-dialog-content>

    <md-dialog-actions layout="row">
      <md-button type="submit" class="md-raised md-primary" ng-click="editProject()">Save</md-button>
      <span flex></span>
      <md-button type="submit" class="md-raised md-warn" ng-click="showConfirm($event)" ng-hide="user.role=='USER' || !project.id">
        <md-icon md-svg-src="/assets/icons/delete.svg"></md-icon>Delete Project
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>