<md-dialog aria-label="Upload Purchase Invoice">
  <form ng-cloak ng-submit="uploadFile()">
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Invoice Upload</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon icon svg-icon="#close" aria-label="Close dialog"></md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content>
      <div class="md-dialog-content" style="text-align: center">
        <p style="font-size: 120%; font-weight: bold">
          <md-icon icon svg-icon="#cloud-upload" style="padding: 0 12px 0 0"></md-icon>Select a PDF from your PC</label>
        </p>
        <p>
          <input required class="md-primary" accept="application/pdf" type="file" id="file" name="file"></input>
        </p>
        <p style="font-size: 70%">(The maximum file size is 1MB)</p>
        <p ng-if="hasInvoice && (user.isAdmin || user.isManager)" id="invoiceMsg">This purchase already
          <b>has</b> an invoice uploaded. You can upload a pdf to replace the current file or remove the current pdf.</p>
        <p ng-if="hasInvoice && !(user.isAdmin || user.isManager)" id="invoiceMsg">This purchase already
          <b>has</b> an invoice uploaded. You can upload a pdf to replace the current file.</p>
      </div>
    </md-dialog-content>

    <md-dialog-actions layout="row">
      <md-button type="submit" class="md-raised md-primary">Upload</md-button>
      <span flex></span>
      <md-button ng-disabled="!hasInvoice && (user.isAdmin || user.isManager)" ng-hide="!(user.isAdmin || user.isManager)" class="md-raised md-warn"
        ng-click="deleteFile()">Remove Invoice</md-button>
    </md-dialog-actions>
  </form>
</md-dialog>