<md-dialog aria-label="Upload Purchase Invoice">
  <form ng-cloak ng-submit="uploadFile()">
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Invoice Upload</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon icon svg-icon="#close" aria-label="Close dialog"></md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content>
      <div class="md-dialog-content">
        <h2>Upload a pdf file for the invoice</h2>
        <p>
          <input required class="md-primary" accept="application/pdf" type="file" id="file" name="file"></input>
        </p>
        <p ng-if="hasInvoice" id="invoiceMsg">This purchase already
          <b>has</b> an invoice uploaded. You can upload a pdf to replace the current file or remove the current pdf.</p>
      </div>
    </md-dialog-content>

    <md-dialog-actions layout="row">
      <md-button type="submit" class="md-raised md-primary">Upload</md-button>
      <span flex></span>
      <md-button ng-disabled="!hasInvoice" class="md-raised md-warn" ng-click="deleteFile()">Remove Invoice</md-button>
    </md-dialog-actions>
  </form>
</md-dialog>