<div flex layout="column" layout-fill layout-align="center">
  <form name="purchaseForm" layout="row" flex layout-padding layout-fill id="purchaseForm" layout-align="center">
    <div flex>
      <h1>General Information</h1>
      <md-card layout="row" layout-sm="column" layout-align="space-around center" layout-padding layout-fill layout-wrap>
        <md-input-container>
          <label>Concept</label>
          <input required ng-model="$ctrl.purchase.item">
        </md-input-container>

        <md-autocomplete required md-no-cache="false" md-selected-item="$ctrl.purchase.supplier" md-search-text="searchTextSupplier"
          md-items="item in $ctrl.autocompleteSearch(searchTextSupplier, $ctrl.supplierList)" md-item-text="item.name" md-min-length="0"
          md-floating-label="Supplier" md-clear-button="true">
          <md-item-template>
            <span md-highlight-text="searchTextSupplier" md-highlight-flags="^i">{{item.name}}</span>
          </md-item-template>
        </md-autocomplete>

        <md-input-container>
          <label>Amount (€)</label>
          <input required ng-model="$ctrl.purchase.amount" type="number" step=".01">
          <div class="hint">#####.## €</div>
        </md-input-container>

        <md-input-container>
          <label>Requesting Date</label>
          <md-datepicker required ng-model="$ctrl.purchase.date" ng-change="$ctrl.purchase.requestDate=$ctrl.purchase.date.getTime()"></md-datepicker>
          <div class="hint">dd/mm/yyyy</div>
        </md-input-container>

        <md-autocomplete required md-no-cache="false" md-selected-item="$ctrl.purchase.type" md-search-text="searchTextType" md-items="item in $ctrl.autocompleteSearch(searchTextType, $ctrl.typeList)"
          md-item-text="item.name" md-min-length="0" md-floating-label="Expense Type" md-clear-button="true">
          <md-item-template>
            <span md-highlight-text="searchTextType" md-highlight-flags="^i">{{item.name}}</span>
          </md-item-template>
        </md-autocomplete>

        <md-autocomplete required md-no-cache="false" md-selected-item="$ctrl.purchase.state" md-search-text="searchTextStatus" md-items="item in $ctrl.autocompleteSearch(searchTextStatus, $ctrl.statusList)"
          md-item-text="item.name" md-min-length="0" md-floating-label="Expense Status" md-clear-button="true">
          <md-item-template>
            <span md-highlight-text="searchTextStatus" md-highlight-flags="^i">{{item.name}}</span>
          </md-item-template>
        </md-autocomplete>

        <md-autocomplete required md-no-cache="false" md-selected-item="$ctrl.purchase.requestingEmployee" md-search-text="searchTextEmployee"
          md-items="item in $ctrl.autocompleteSearch(searchTextEmployee, $ctrl.employeeList)" md-item-text="item.fullname"
          md-min-length="0" md-floating-label="Requesting Employee" md-clear-button="true">
          <md-item-template>
            <span md-highlight-text="searchTextEmployee" md-highlight-flags="^i">{{item.fullname}}</span>
          </md-item-template>
        </md-autocomplete>

        <md-input-container>
          <label>Code</label>
          <input required ng-model="$ctrl.purchase.code">
        </md-input-container>


        <md-input-container layout-padding class="md-block" style="min-width: 300px">
          <label>Comments</label>
          <textarea ng-model="$ctrl.purchase.comments" md-maxlength="50" rows="1" md-select-on-focus></textarea>
        </md-input-container>
      </md-card>
    </div>
    <div flex>
      <h1>Project Information</h1>
      <md-card layout="row" layout-sm="column" layout-align="space-around center" flex layout-padding layout-wrap>
        <md-autocomplete required md-no-cache="false" md-selected-item="$ctrl.purchase.requestingProject" md-search-text="searchTextReqProj"
          md-items="item in $ctrl.autocompleteSearch(searchTextReqProj, $ctrl.projList)" md-item-text="item.name" md-min-length="0"
          md-floating-label="Requesting Project" md-clear-button="true">
          <md-item-template>
            <span md-highlight-text="searchTextReqProj" md-highlight-flags="^i">{{item.name}}</span>
          </md-item-template>
        </md-autocomplete>
        <md-autocomplete required md-no-cache="false" md-selected-item="$ctrl.purchase.chargingProject" md-search-text="searchTextChProj"
          md-items="item in $ctrl.autocompleteSearch(searchTextChProj, $ctrl.projList)" md-item-text="item.name" md-min-length="0"
          md-floating-label="Charging Project" md-clear-button="true">
          <md-item-template>
            <span md-highlight-text="searchTextChProj" md-highlight-flags="^i">{{item.name}}</span>
          </md-item-template>
        </md-autocomplete>
      </md-card>
      <h1>Invoice Information</h1>
      <md-card layout="row" layout-sm="column" layout-align="center" flex layout-padding layout-wrap>
        <md-button class="md-raised" ng-disabled="!$ctrl.purchase.id" ng-click="$ctrl.showInvoiceInput($event)">Edit purchase invoice</md-button>
      </md-card>
      <div layout="row" layout-align="space-between center">
        <div>
          <md-button type="submit" class="md-raised" ng-href="#!/purchases">Cancel</md-button>
          <md-button type="submit" class="md-raised md-primary" ng-click="$ctrl.editPurchase()">Save</md-button>
        </div>
        <div>
          <md-button type="submit" class="md-raised md-warn" ng-click="$ctrl.showConfirm($event)" ng-hide="$ctrl.user.role=='USER' || !$ctrl.purchase.id">
            <md-icon md-svg-src="/assets/icons/delete.svg"></md-icon>Delete Purchase
          </md-button>
        </div>
      </div>
    </div>

  </form>
</div>