<md-dialog>
  <form name="purchaseStatusForm" ng-submit="editPurchaseStatus()">
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>{{title}}</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon md-svg-src="assets/icons/close.svg" aria-label="Close dialog"></md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content layout="column" layout-padding>
      <div layout="" layout-align="space-around center" layout-padding style="padding: 20px 0 0 0">
        <md-input-container>
          <label>Name</label>
          <input required name="name" ng-model="purchaseStatus.name">
          <div ng-messages="purchaseStatusForm.name.$error">
            <div ng-message="required">You
              <b>must</b> provide a project status name.</div>
          </div>
        </md-input-container>
      </div>
      <div layout="" layout-align="center center">
        Status color:
        <md-color-menu color="color" style="padding: 0 0 0 20px">
          <md-button class="md-icon-button" ng-style="color.style">
            <md-icon md-svg-src="assets/icons/shopping-cart.svg" ng-style="color.style"></md-icon>
          </md-button>
        </md-color-menu>
      </div>
    </md-dialog-content>

    <md-dialog-actions layout="row">
      <md-button type="submit" class="md-raised md-primary">Save</md-button>
      <span flex></span>
      <md-button class="md-raised md-warn" ng-click="showConfirm($event)" ng-hide="!purchaseStatus.id">
        <md-icon md-svg-src="/assets/icons/delete.svg"></md-icon>Delete Purchase Status
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>