<div flex layout="column" layout-align="center center" layout-fill>
  <!-- Actual table -->
  <md-card layout="column" flex layout-align "center center">
    <!-- Pagination options and table title -->
    <md-toolbar class="md-table-toolbar" md-colors="{background: 'grey-50'}">
      <div class="md-toolbar-tools">
        <div>Purchases Status</div>
        <span flex></span>
        <md-button class="md-raised md-primary" ng-click="vm.addItem()" ng-hide="!vm.user.isAdmin || !vm.user.isManager">Add Purchase Status</md-button>
      </div>
    </md-toolbar>


    <!-- Table -->
    <md-table-container>
      <table md-table ng-table="vm.purchaseStatuss" flex layout-fill>
        <thead md-head md-colors="{background: 'primary'}">
          <tr md-row>
            <th md-column class="md-thead">ID</th>
            <th md-column class="md-thead">Name</th>
            <th md-column class="md-thead" ng-hide="!vm.user.isAdmin || !vm.user.isManager"></th>
          </tr>
        </thead>
        <tbody md-body>
          <tr md-row ng-repeat="item in vm.purchaseStatuss">
            <td md-cell>{{item.id}}</td>
            <td md-cell>
              <!-- {{item.name}} -->
              <div class="badge" md-colors="{background: vm.badgeColor('{{item.color}}')}">{{item.name}}</div>
            </td>
            <td md-cell ng-hide="!vm.user.isAdmin || !vm.user.isManager">
              <md-button class="md-icon-button" ng-click="vm.editItem(item)">
                <md-tooltip md-direction="bottom">Edit Purchase Status</md-tooltip>
                <md-icon class="table-icon" md-svg-icon="assets/icons/edit.svg"></md-icon>
              </md-button>
            </td>
          </tr>
        </tbody>
      </table>
    </md-table-container>
  </md-card>
</div>