<md-dialog>
  <form name="purchaseTypeForm" ng-submit="vm.editPurchaseType()">
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>{{vm.title}}</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="vm.cancel()">
          <md-icon icon svg-icon="#close" aria-label="Close dialog"></md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content layout="column" layout-padding>
      <div layout="" layout-align="space-around center" layout-padding style="padding: 20px 0 0 0">
        <md-input-container>
          <label>Name</label>
          <input required name="name" ng-model="vm.purchaseType.name">
          <div ng-messages="purchaseTypeForm.name.$error">
            <div ng-message="required">You
              <b>must</b> provide a purchase type name.</div>
          </div>
        </md-input-container>
      </div>
    </md-dialog-content>

    <md-dialog-actions layout="row">
      <md-button type="submit" ng-disabled="purchaseTypeForm.$invalid" class="md-raised md-primary">Save</md-button>
      <span flex></span>
      <md-button class="md-raised md-warn" ng-click="vm.showConfirmDialog($event)" ng-hide="!vm.purchaseType.id">
        <md-icon icon svg-icon="#delete"></md-icon>Delete Purchase Type
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>