<div layout="row" layout-align="center center">
  <md-card flex="30" layout="column" layout-align="center">
    <md-toolbar>
        <div class="md-toolbar-tools">
          <h1 class="md-flex">Login</h1>
        </div>
    </md-toolbar> 
    <md-content flex layout="column" layout-padding layout-align="center center">
        <form name="authForm">
          <div flex>
            <md-input-container>
              <label>Username</label>
              <input required md-no-asterisk name="user" ng-model="$ctrl.credentials.user">
              <div ng-messages="authForm.user.$error">
                <div ng-message="required">This field is required.</div>
              </div>
            </md-input-container>
          </div>

          <div flex>
            <md-input-container> 
              <label>Password</label>
              <input required type="password" md-no-asterisk name="password" ng-model="$ctrl.credentials.password">
              <div ng-messages="authForm.password.$error">
                <div ng-message="required">This field is required.</div>
              </div>
            </md-input-container>
        </div>
      
          <div>
            <md-button type="submit" class="md-raised md-primary" ng-click="$ctrl.login()">Login</md-button>
          </div>
        </form>
    </md-content>
  </md-card>
</div>