<div>
  <!-- Filters Toolbar (TODO: put this part of the code away - without ngInclude)-->
  <md-content class="filters-toolbar" md-theme="dark" ng-hide="vm.hideFilters" layout="row" layout-sm="column" layout-align="space-around center"
    layout-padding layout-wrap md-whiteframe="5">
    <div layout="column" flex>
      <md-input-container>
        <label>Min Amount (€)</label>
        <input ng-model="vm.params.amountMin" ng-change="vm.search()" type="number" step="10">
      </md-input-container>
      <md-input-container>
        <label>Max Amount (€)</label>
        <input ng-model="vm.params.amountMax" ng-change="vm.search()" type="number" step="10">
      </md-input-container>
    </div>

    <div layout="column" flex>
      <md-input-container>
        <label>Code RP</label>
        <input ng-model="vm.params.codeRP" ng-change="vm.search()">
      </md-input-container>

      <md-input-container>
        <label>Code LV</label>
        <input ng-model="vm.params.codeLV" ng-change="vm.search()">
      </md-input-container>
    </div>

    <div layout="column" flex>
      <md-autocomplete md-no-cache="false" md-selected-item="vm.autocompleteObj.chProj" md-search-text="searchTextChProj" md-selected-item-change="vm.autocompleteItemChange()"
        md-items="item in vm.autocompleteSearch(searchTextChProj, vm.projList)" md-item-text="item.fullname" md-min-length="0"
        md-floating-label="Charging Project" md-clear-button="true">
        <md-item-template>
          <span md-highlight-text="searchTextChProj" md-highlight-flags="^i">{{item.fullname}}</span>
        </md-item-template>
      </md-autocomplete>

      <md-autocomplete md-no-cache="false" md-selected-item="vm.autocompleteObj.reqProj" md-search-text="searchTextReqProj" md-selected-item-change="vm.autocompleteItemChange()"
        md-items="item in vm.autocompleteSearch(searchTextReqProj, vm.projList)" md-item-text="item.fullname" md-min-length="0"
        md-floating-label="Requesting Project" md-clear-button="true">
        <md-item-template>
          <span md-highlight-text="searchTextReqProj" md-highlight-flags="^i">{{item.fullname}}</span>
        </md-item-template>
      </md-autocomplete>
    </div>

    <div layout="column" flex>
      <md-autocomplete md-no-cache="false" md-selected-item="vm.autocompleteObj.type" md-search-text="searchTextType" md-selected-item-change="vm.autocompleteItemChange()"
        md-items="item in vm.autocompleteSearch(searchTextType, vm.typeList)" md-item-text="item.name" md-min-length="0" md-floating-label="Expense Type"
        md-clear-button="true">
        <md-item-template>
          <span md-highlight-text="searchTextType" md-highlight-flags="^i">{{item.name}}</span>
        </md-item-template>
      </md-autocomplete>

      <md-autocomplete md-no-cache="false" md-selected-item="vm.autocompleteObj.status" md-search-text="searchTextStatus" md-selected-item-change="vm.autocompleteItemChange()"
        md-items="item in vm.autocompleteSearch(searchTextStatus, vm.statusList)" md-item-text="item.name" md-min-length="0"
        md-floating-label="Expense Status" md-clear-button="true">
        <md-item-template>
          <span md-highlight-text="searchTextStatus" md-highlight-flags="^i">{{item.name}}</span>
        </md-item-template>
      </md-autocomplete>
    </div>

    <div layout="column" flex>
      <md-autocomplete md-no-cache="false" md-selected-item="vm.autocompleteObj.employee" md-search-text="searchTextEmployee" md-selected-item-change="vm.autocompleteItemChange()"
        md-items="item in vm.autocompleteSearch(searchTextEmployee, vm.employeeList)" md-item-text="item.fullname" md-min-length="0"
        md-floating-label="Requesting Person" md-clear-button="true">
        <md-item-template>
          <span md-highlight-text="searchTextEmployee" md-highlight-flags="^i">{{item.fullname}}</span>
        </md-item-template>
      </md-autocomplete>

      <md-autocomplete md-no-cache="false" md-selected-item="vm.autocompleteObj.supplier" md-search-text="searchTextSupplier" md-selected-item-change="vm.autocompleteItemChange()"
        md-items="item in vm.autocompleteSearch(searchTextSupplier, vm.supplierList)" md-item-text="item.name" md-min-length="0"
        md-floating-label="Supplier" md-clear-button="true">
        <md-item-template>
          <span md-highlight-text="searchTextSupplier" md-highlight-flags="^i">{{item.name}}</span>
        </md-item-template>
      </md-autocomplete>
    </div>

    <div layout="column" flex>
      <md-input-container>
        <label>Min Date</label>
        <md-datepicker ng-model="vm.params.dateMin" ng-change="vm.search()" md-max-date="vm.params.dateMax">
      </md-input-container>
      <md-input-container>
        <label>Max Date</label>
        <md-datepicker ng-model="vm.params.dateMax" ng-change="vm.search()" md-min-date="vm.params.dateMin">
      </md-input-container>
    </div>
  </md-content>

  <!-- Actual table -->
  <md-card layout="column" flex layout-align "center center">
    <!-- Pagination options and table title -->
    <md-toolbar class="md-table-toolbar" md-colors="{background: 'grey-50'}">
      <div class="md-toolbar-tools">
        <div>Purchases</div>
        <span flex></span>
        <div class="table-filters">
          <md-input-container>
            <label>Purchase Concept</label>
            <input ng-model="vm.params.item" ng-change="vm.search()">
          </md-input-container>
          <md-input-container>
            <label>Purchase Code</label>
            <input ng-model="vm.params.code" ng-change="vm.search()">
          </md-input-container>
        </div>
        <md-button class="md-raised md-primary" ng-click="vm.toggleFilters()">More Filters</md-button>
        <md-button class="md-raised md-primary" ng-href="#!/purchaseform">Add Purchase</md-button>
      </div>

      <div class="table-pagination" md-colors="{background: 'primary-800'}">
        <div layout-wrap flex="45">Applied filters:
          <div ng-repeat="item in vm.appliedFilters()">
            <md-button class="md-raised md-accent" ng-click="vm.chipRemoveFilter(item)" id="chip-remove">
              {{item}}
              <md-icon icon svg-icon="#close"></md-icon>
            </md-button>
          </div>
        </div>
        <span flex></span>
        <div>Page:
          <md-select ng-model="vm.params.page" ng-change="vm.search()" aria-label="selPage">
            <md-option ng-repeat="n in [].constructor(vm.purchases.$metadata.totalPages) track by $index" ng-value="{{$index}}">{{$index+1}}</md-option>
          </md-select> of {{vm.purchases.$metadata.totalPages}}
        </div>
        <div>Rows per page:
          <md-select ng-model="vm.params.size" ng-change="vm.search()" aria-label="selSize">
            <md-option ng-repeat="size in vm.sizeOpt" ng-value="{{size}}">{{size}}</md-option>
          </md-select>
        </div>
        <div>Viewing {{vm.purchases.$metadata.page*vm.purchases.$metadata.size+1}} - {{(vm.purchases.$metadata.page+1)*vm.purchases.$metadata.size}}
          of {{vm.purchases.$metadata.totalElements}} purchases
        </div>
        <div>
          <md-button class="md-icon-button" ng-click="vm.prevPage()" ng-disabled="vm.purchases.$metadata.page==0" aria-label="prevPage">
            <md-tooltip md-direction="bottom">Previous page</md-tooltip>
            <md-icon icon svg-icon="#navPrev"></md-icon>
          </md-button>
          <md-button class="md-icon-button" ng-click="vm.nextPage()" ng-disabled="vm.purchases.$metadata.last" aria-label="nextPage">
            <md-tooltip md-direction="bottom">Next page</md-tooltip>
            <md-icon icon svg-icon="#navNext"></md-icon>
          </md-button>
        </div>
      </div>
    </md-toolbar>


    <!-- Table -->
    <md-table-container>
      <table md-table ng-table="vm.purchases" flex layout-fill>
        <thead md-head md-colors="{background: 'primary'}">
          <tr md-row>
            <th md-column class="md-thead">Code</th>
            <th md-column class="md-thead">Expense Date</th>
            <th md-column class="md-thead">Expense type</th>
            <th md-column class="md-thead">Concept</th>
            <th md-column class="md-thead">Cost</th>
            <th md-column class="md-thead">Supplier</th>
            <th md-column class="md-thead">Charging Project</th>
            <th md-column class="md-thead">Requesting Project</th>
            <th md-column class="md-thead">Code RP</th>
            <th md-column class="md-thead">Code LV</th>
            <th md-column class="md-thead">Status</th>
            <th md-column class="md-thead">Invoice</th>
            <th md-column class="md-thead"></th>
          </tr>
        </thead>
        <tbody md-body>
          <tr md-row ng-repeat="purchase in vm.purchases">
            <td md-cell>{{purchase.code}}</td>
            <td md-cell>{{purchase.requestDate | date: "dd/MM/yyyy"}}</td>
            <td md-cell>{{purchase.type.name}}</td>
            <td md-cell>{{purchase.item}}</td>
            <td md-cell>{{purchase.amount | currency : " "}}€</td>
            <td md-cell>{{purchase.supplier.name}}</td>
            <td md-cell>{{purchase.chargingProject.fullname}}</td>
            <td md-cell>{{purchase.requestingProject.fullname}}</td>
            <td md-cell>{{purchase.codeRP}}</td>
            <td md-cell>{{purchase.codeLV}}</td>
            <td md-cell>
              <span class="badge" md-colors="{background: vm.badgeColor('{{purchase.state.color}}')}">{{purchase.state.name}}</span>
            </td>
            <td md-cell>
              <md-button class="md-icon-button" ng-click="vm.downloadInvoice(purchase)" ng-hide="vm.availableInvoice(purchase)" aria-label="downloadInvoice">
                <md-tooltip md-direction="bottom">Download Invoice</md-tooltip>
                <md-icon class="table-icon" icon svg-icon="#attach"></md-icon>
              </md-button>
            </td>
            <td md-cell>
              <md-button class="md-icon-button" ng-click="vm.editItem(purchase)">
                <md-tooltip md-direction="bottom">Edit Purchase</md-tooltip>
                <md-icon class="table-icon" icon svg-icon="#edit"></md-icon>
              </md-button>
            </td>
          </tr>
        </tbody>
      </table>
    </md-table-container>
  </md-card>
</div>