<div>
  <p>
    Search: <input ng-model="$ctrl.items.amount"></input><button type="button" ng-click="$ctrl.search()"></button>
  </p>
  <table st-table="$ctrl.purchases" st-sticky-header class="table table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>Expense type</th>
        <th>Supplier</th>
        <th>Concept</th>
        <th>Cost</th>
        <th>Charging Project</th>
        <th>Requesting Project</th>
        <th>Code</th>
        <th>Comments</th>
        <th>Invoice</th>
        <th>Expense Date</th>
        <th>State</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="purchase in $ctrl.purchases">
        <td>{{purchase.id}}</td>
        <td>{{purchase.type.name}}</td>
        <td>{{purchase.supplier.name}}</td>
        <td>{{purchase.item}}</td>
        <td>{{purchase.amount | currency}}</td>
        <td>{{purchase.chargingProject.name}}</td>
        <td>{{purchase.requestingProject.name}}</td>
        <td>{{purchase.code}}</td>
        <td>{{purchase.comments}}</td>
        <td>{{purchase.invoicePath}}</td>
        <td>{{purchase.requestDate | date}}</td>
        <td>{{purchase.state.name}}</td>
        <td>
          <button type="button" ng-click="$ctrl.removeItem(purchase)" class="btn btn-sm btn-danger">
            <i class="glyphicon glyphicon-remove-circle"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>