<div layout="row" layout-align="center" layout-fill>
    <!-- <a href="#!/purchaseform"><button type="button" class="btn btn-sm btn-info"><i class="glyphicon glyphicon-plus"></i></button></a>
    <p>Select the charging Project to show:</p>
    <select ng-model="$ctrl.params.chProj" ng-change="$ctrl.search()">
      <option ng-repeat="project in $ctrl.projList" value="{{project.name}}">{{project.name}}</option>
      <option value="All">All</option>
    </select></p>
    <p>Select the requesting Project to show:</p>
    <select ng-model="$ctrl.params.reqProj" ng-change="$ctrl.search()">
      <option ng-repeat="project in $ctrl.projList" value="{{project.name}}">{{project.name}}</option>
      <option value="All">All</option>
    </select></p>
    <p>concept search: <input ng-model="$ctrl.params.item" ng-change="$ctrl.search()"></input></p>
    <p>Amount Min: <input ng-model="$ctrl.params.amountBot"></input> 
       Amount Max: <input ng-model="$ctrl.params.amountTop"></input>
       <button ng-click="$ctrl.search()" class="btn btn-sm btn-info">Filtra amount</button></p> -->
  
  <md-table-container flex="95" layout-align="center center" layout-fill md-whiteframe="2">
    <table md-table ng-table="$ctrl.purchases">
      <thead md-head>
        <tr md-row>
          <th md-column><span class="md-thead">ID</span></th>
          <th md-column><span class="md-thead">Expense Date</span></th>
          <th md-column><span class="md-thead">Expense type</span></th>
          <th md-column><span class="md-thead">Concept</span></th>
          <th md-column><span class="md-thead">Cost</span></th>
          <th md-column><span class="md-thead">Supplier</span></th>
          <th md-column><span class="md-thead">Charging Project</span></th>
          <th md-column><span class="md-thead">Requesting Project</span></th>
          <!-- <th md-column><span class="md-thead">Code</span></th> -->
          <!-- <th md-column><span class="md-thead">Comments</span></th> -->
          <th md-column><span class="md-thead">Invoice</span></th>
          <th md-column><span class="md-thead">Status</span></th>
          <th md-column><span class="md-thead"></span></th>
        </tr>
      </thead>
      <tbody md-body>
        <tr md-row ng-repeat="purchase in $ctrl.purchases">
          <td md-cell>{{purchase.id}}</td>
          <td md-cell>{{purchase.requestDate | date}}</td>
          <td md-cell>{{purchase.type.name}}</td>
          <td md-cell>{{purchase.item}}</td>
          <td md-cell>{{purchase.amount | currency}}</td>
          <td md-cell>{{purchase.supplier.name}}</td>
          <td md-cell>{{purchase.chargingProject.name}}</td>
          <td md-cell>{{purchase.requestingProject.name}}</td>
          <!-- <td md-cell>{{purchase.code}}</td> -->
          <!-- <td md-cell>{{purchase.comments}}</td> -->
          <td md-cell>
              <md-button class="md-icon-button" ng-click="$ctrl.downloadInvoice(purchase)" ng-disabled="$ctrl.availableInvoice(purchase)" aria-label="downloadInvoice">
                  <md-icon class="table-icon" md-svg-icon="assets/icons/attach.svg"></md-icon></md-button>
          </td>
          <td md-cell>{{purchase.state.name}}</td>
          <td md-cell>
            <button type="button" ng-click="$ctrl.removeItem(purchase)" class="btn btn-sm btn-danger"><i class="glyphicon glyphicon-remove-circle"></i></button>
            <a href="#!/purchaseform/{{purchase.id}}"><md-button class="md-icon-button"><md-icon class="table-icon" md-svg-icon="assets/icons/edit.svg"></md-icon></md-button></a>
          </td>
        </tr>
      </tbody>
    </table>
  </md-table-container>
</div>