<div>
  <p>
    Search: <input ng-model="$ctrl.params.text" ng-change="$ctrl.search"></input>
  </p>
  <table st-table="displayedPurchases" st-safe-src="$ctrl.purchases" st-sticky-header class="table table-striped">
    <thead>
      <tr>
        <th st-sort="id">ID</th>
        <th st-sort="expenseType">Expense type</th>
        <th st-sort="supplier.name">Supplier</th>
        <th st-sort="item">Concept</th>
        <th st-sort="amount">Cost</th>
        <th st-sort="chargingProject">Charging Project</th>
        <th st-sort="requestingProject">Requesting Project</th>
        <th st-sort="code">Code</th>
        <th st-sort="comments">Comments</th>
        <th>Invoice</th>
        <th st-sort="date">Expense Date</th>
        <th st-sort="state">State</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="purchase in displayedPurchases">
        <td>{{purchase.id}}</td>
        <td>{{purchase.type.name}}</td>
        <td>{{purchase.supplier.name}}</td>
        <td>{{purchase.item}}</td>
        <td>{{purchase.amount | currency}}</td>
        <td>{{purchase.chargingProject.name}}</td>
        <td>{{purchase.requestingProject.name}}</td>
        <td>{{purchase.code}}</td>
        <td>{{purchase.comments}}</td>
        <td>{{purchase.invoicePath}}</td>
        <td>{{purchase.requestDate | date}}</td>
        <td>{{purchase.state.name}}</td>
        <td>
          <button type="button" ng-click="$ctrl.removeItem(purchase)" class="btn btn-sm btn-danger">
            <i class="glyphicon glyphicon-remove-circle"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>