<!doctype html>
<html lang="en" ng-app="AccountingFEapp">

<head>
  <meta charset="utf-8">
  <title>MCIA Accounting System</title>
  <base href="/compras/"/>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body ng-controller="MainController as vm" layout="column" layout-align="center">
  <!-- Toolbar -->
  <md-toolbar layout="row" ng-cloak="">
    <div class="md-toolbar-tools" flex layout="row">
      <!-- Title and logo -->
      <a layout="" aria-label="home" ng-href="#!/purchases">
        <div>
          <svg id="toolbar-logo">
            <use xlink:href="#MCIA_logo" class="sprite-symbol-usage"></use>
          </svg>
        </div>
        <h2 id="toolbar-title">Accounting System</h2>
      </a>
      <span flex></span>
      <!-- User info & Logout -->
      <md-menu ng-if="vm.user.isLogged" md-position-mode="target-right target" width="4">
        <md-button ng-click="$mdMenu.open($event)">
          <div layout="row" layout-margin layout-align="center center">
            <span>{{vm.user.name}} ({{vm.userRole()}})</span>
            <md-icon md-menu-origin icon svg-icon="#settings" style="width: '32px'; height: '32px'"></md-icon>
          </div>
        </md-button>
        <md-menu-content>
          <md-menu-item>
            <md-button ng-click="vm.showAccountInfo()">
              <md-icon icon svg-icon="#account"></md-icon>
              Account Info
            </md-button>
          </md-menu-item>
          <md-menu-item>
            <md-button ng-click="vm.handleLogout()">
              <md-icon icon svg-icon="#logout"></md-icon>
              Logout
            </md-button>
          </md-menu-item>
        </md-menu-content>
      </md-menu>
    </div>
  </md-toolbar>

  <div flex layout="column" layout-align="center">
    <div id="hoveringToggleLeft" flex ng-mouseover="vm.toggleNavBar()" ng-show="vm.user.isLogged"></div>
    <!-- Content Cointainer -->
    <div id="view-container" ng-view ng-cloak layout="column" layout-fill layout-align="center"></div>
  </div>

  <!-- Sidenav -->
  <md-sidenav class="md-sidenav-left" md-theme="dark" md-component-id="left" layout="column" md-whiteframe="4">
    <sidenav></sidenav>
  </md-sidenav>

</body>

</html>