<md-dialog>
  <form name="passwordForm" ng-submit="editUser()">
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Edit Password</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon md-svg-src="assets/icons/close.svg" aria-label="Close dialog"></md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content layout="column" layout-padding>
      <div layout="row" layout-padding layout-align="space-around start">
        <md-input-container>
          <label>New Password:</label>
          <input type="password" required name="password" ng-model="item.password">
          <div ng-messages="passwordForm.password.$error">
            <div ng-message="required">You
              <b>must</b> provide a valid password.</div>
          </div>
        </md-input-container>

        <md-input-container>
          <label>Confirm Password:</label>
          <input type="password" required compare-to="item.password" name="confirmPassword" ng-model="item.confirmPassword">
          <div ng-messages="passwordForm.confirmPassword.$error">
            <div ng-message="required">You
              <b>must</b> fill this field.</div>
            <div ng-message="compareTo">The passwords entered do not match.</div>
          </div>
        </md-input-container>
      </div>

    </md-dialog-content>

    <md-dialog-actions layout="row">
      <md-button type="submit" class="md-raised md-primary">Save</md-button>
      <span flex></span>
    </md-dialog-actions>
  </form>
</md-dialog>