<md-dialog>
  <form name="supplierForm" ng-submit="vm.editSupplier()">
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>{{vm.title}}</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="vm.cancel()">
          <md-icon md-svg-src="assets/icons/close.svg" aria-label="Close dialog"></md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content layout="column" layout-padding>
      <div layout="" layout-align="space-around center" layout-padding style="padding: 20px 0 0 0">
        <md-input-container>
          <label>Name</label>
          <input required name="name" ng-model="vm.supplier.name">
          <div ng-messages="supplierForm.name.$error">
            <div ng-message="required">You
              <b>must</b> provide a supplier name.</div>
          </div>
        </md-input-container>
      </div>
    </md-dialog-content>

    <md-dialog-actions layout="row">
      <md-button type="submit" class="md-raised md-primary">Save</md-button>
      <span flex></span>
      <md-button class="md-raised md-warn" ng-click="vm.showConfirmDialog($event)" ng-hide="!vm.supplier.id">
        <md-icon md-svg-src="/assets/icons/delete.svg"></md-icon>Delete Supplier
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>